*{
  margin: 0;
  padding: 0;
}
.header-continer{
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.header-menu ul{
  display: flex;
  margin-top: 15px;
  
}

.header-menu ul li{
  margin: 0 10px;
  list-style-type: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

#btn{
  padding: 10px 20px;
 
 color:#000;
 border: none;
 border-radius: 5px;
 font-size: 18px;
 font-weight: 500;
}
#btn:hover{
  color: red;
  cursor: pointer;
}
.fa-user{
  margin-right: 10px;
}

.btn{
  padding: 10px 20px;
 
 color: #fff;
 background: red;
 border: none;
 border-radius: 5px;
 font-size: 18px;
 font-weight: 500;
}

.header-menu ul li:hover{
  color: red;
}